{% macro render() %}
<template id="clickbuddy">
    <section
        class="z-50 fixed overscroll-contain inset-0 bg-black text-white flex flex-col md:flex-row overflow-y-auto md:overflow-y-hidden md:overflow-x-auto items-center p-8 gap-10 scroll-smooth scrollbar-none md:touch-pan-x"
    >
        <!-- Close Button -->
        <button
            @click="$emit('close')"
            class="fixed top-8 right-8 z-[60] text-white hover:text-neutral-400 transition-colors text-2xl font-mono cursor-pointer"
        >
            [X]
        </button>

        <!-- PANEL -->
        <article
            class="shrink-0 max-w-lg flex flex-col gap-10 justify-center py-10 sm:px-10 md:py-0"
        >
            <h1 class="font-mono text-3xl">CLICKBUDDY</h1>
            <p>
                ClickBuddy is an attachment and wireless clicker for the Instax
                Mini 12, designed to help users capture group shots and solo
                photos effortlessly. I worked on the product concept, 3D design,
                branding, and visual identity, creating a clean and playful
                aesthetic that fits Instax's youthful tone. The design balances
                functionality and charm, featuring soft forms, intuitive
                usability, and a cohesive brand system built around minimal,
                friendly visuals.
            </p>
            <p>
                <b class="font-medium">TYPE:</b> COMMERCIAL WORK<br />
                <b class="font-medium">JOB:</b> PRODUCT AND BRAND DESIGN<br />
                <b class="font-medium">TOOLS:</b> ILLUSTRATOR, FIGMA,
                PROCREATE<br />
                <b class="font-medium">YEAR:</b> 2025
            </p>
        </article>

        <!-- IMAGES -->
        <img
            src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/1.jpg"
            alt=""
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-[80vh] rounded-3xl sm:rounded-[40px]"
        />
        <img
            src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/2.png"
            alt=""
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-[80vh] rounded-3xl sm:rounded-[40px] md:block hidden"
        />
        <img
            src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/2mobile.png"
            alt=""
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-[80vh] rounded-3xl sm:rounded-[40px] block md:hidden"
        />
        <div
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-[80vh] grid grid-rows-2 gap-4"
        >
            <div class="overflow-hidden rounded-2xl sm:rounded-[40px] h-full">
                <img
                    class="w-full h-full object-cover rounded-2xl sm:rounded-[40px]"
                    src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/3.svg"
                    alt=""
                />
            </div>
            <div class="overflow-hidden rounded-2xl sm:rounded-[40px] h-full">
                <img
                    class="w-full h-full object-cover rounded-2xl sm:rounded-[40px]"
                    src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/4.svg"
                    alt=""
                />
            </div>
        </div>
        <div
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-[80vh] grid grid-rows-2 gap-4"
        >
            <img
                class="block w-full h-full object-cover object-center min-w-0 md:max-h-[24rem] min-h-0 rounded-2xl sm:rounded-[40px]"
                src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/5.jpg"
                alt=""
            />
            <img
                class="block w-full h-full object-cover object-center min-w-0 md:max-h-[24rem] min-h-0 rounded-2xl sm:rounded-[40px]"
                src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/6.png"
                alt=""
            />
        </div>
        <img
            src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/7.jpg"
            alt=""
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-[80vh] rounded-2xl sm:rounded-[40px]"
        />
        <img
            src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/8.jpg"
            alt=""
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-[80vh] rounded-2xl sm:rounded-[40px]"
        />
        <img
            src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/9.jpg"
            alt=""
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-[80vh] rounded-2xl sm:rounded-[40px]"
        />
        <img
            src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/10.jpg"
            alt=""
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-[80vh] rounded-2xl sm:rounded-[40px]"
        />
        <div
            class="shrink-0 w-full aspect-square md:w-auto md:h-[32rem] lg:h-[80vh] grid grid-cols-2 grid-rows-2 gap-4 overflow-hidden"
        >
            <div class="overflow-hidden rounded-2xl sm:rounded-[40px]">
                <img
                    src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/11.jpg"
                    alt=""
                    class="w-full h-full object-cover object-center"
                />
            </div>
            <div class="overflow-hidden rounded-2xl sm:rounded-[40px]">
                <img
                    src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/12.jpg"
                    alt=""
                    class="w-full h-full object-cover object-center"
                />
            </div>
            <div class="overflow-hidden rounded-2xl sm:rounded-[40px]">
                <img
                    src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/13.jpg"
                    alt=""
                    class="w-full h-full object-cover object-center"
                />
            </div>
            <div class="overflow-hidden rounded-2xl sm:rounded-[40px]">
                <img
                    src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/clickbuddy/14.jpg"
                    alt=""
                    class="w-full h-full object-cover object-center"
                />
            </div>
        </div>
        <button
            @click="$emit('close')"
            class="font-mono md:-rotate-90 text-4xl cursor-pointer hover:tracking-widest tracking-normal transition-all ease-in-out"
        >
            CLOSE
        </button>
    </section>
</template>
{% endmacro %}
