{% macro render() %}
<template id="corners">
    <section
        class="z-50 fixed overscroll-contain inset-0 bg-black text-white flex flex-col md:flex-row overflow-y-auto md:overflow-y-hidden md:overflow-x-auto items-center p-8 gap-10 scroll-smooth scrollbar-none md:touch-pan-x"
    >
        <!-- Close Button -->
        <button
            @click="$emit('close')"
            class="fixed top-8 right-8 z-[60] text-white hover:text-neutral-400 transition-colors text-2xl font-mono cursor-pointer"
        >
            [X]
        </button>

        <!-- PANEL -->
        <article
            class="shrink-0 max-w-lg flex flex-col gap-10 justify-center py-10 sm:px-10 md:py-0"
        >
            <h1 class="font-mono text-3xl">IMMORTAL DRAGONS CORNER FRAMES</h1>
            <p>
                A minimal corner frame concept created for Immortal Dragons'
                gallery and exhibition visuals. The goal was to design a simple
                yet distinctive element that reflects the company's aesthetic,
                merging elegance with strength. Inspired by the dragon motif
                from the brand's logo, the frame integrates fine details and
                fluid lines to subtly represent longevity and identity within a
                refined visual system.
            </p>
            <p>
                <b class="font-medium">TYPE:</b> COMMERCIAL WORK<br />
                <b class="font-medium">JOB:</b> GRAPHIC DESIGN<br />
                <b class="font-medium">TOOLS:</b> PROCREATE, ILLUSTRATOR<br />
                <b class="font-medium">YEAR:</b> 2025
            </p>
        </article>

        <!-- IMAGES -->

        <div
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-4/5 grid grid-rows-2 gap-4"
        >
            <img
                class="block w-full h-full object-cover object-center min-w-0 md:max-h-[24rem] min-h-0 rounded-2xl sm:rounded-[40px]"
                src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/corners/1.png"
                alt=""
            />
            <img
                class="block w-full h-full object-cover object-center min-w-0 md:max-h-[24rem] min-h-0 rounded-2xl sm:rounded-[40px]"
                src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/corners/2.png"
                alt=""
            />
        </div>
        <div
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-4/5 grid grid-rows-2 gap-4"
        >
            <img
                class="block w-full h-full object-cover object-center min-w-0 md:max-h-[24rem] min-h-0 rounded-2xl sm:rounded-[40px]"
                src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/corners/3.jpg"
                alt=""
            />
            <img
                class="block w-full h-full object-cover object-center min-w-0 md:max-h-[24rem] min-h-0 rounded-2xl sm:rounded-[40px]"
                src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/corners/4.jpg"
                alt=""
            />
        </div>
        <img
            src="https://emilyyobal.fra1.cdn.digitaloceanspaces.com/corners/5.jpg"
            alt=""
            class="shrink-0 w-full md:w-auto md:h-[32rem] lg:h-4/5 rounded-2xl sm:rounded-[40px]"
        />

        <button
            @click="$emit('close')"
            class="font-mono md:-rotate-90 text-4xl cursor-pointer hover:tracking-widest tracking-normal transition-all ease-in-out"
        >
            CLOSE
        </button>
    </section>
</template>
{% endmacro %}
